div.container {
	width: 475px;
	overflow: auto;
	margin-top: 20px;
}

.feedback_title {
	margin-left:5px;
	
}

.feedback_text {
	margin-top: 10px;
	width: 463px;
	height: 238px;
	border: 2px solid #5b5b5b;
	
}

.feedback_inputs {
	font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color: #2a2a2a;
	padding:2px;
	background-color:#f8f8f8;
}

.feedback_buttons {
	float:right;
	margin-top:10px;
}

.feedback_thankyou_button {
	display:none;
	margin-right: 6px;
	margin-bottom:1px;
}

.feedback_submit_button {
	cursor:pointer;
	margin-right: 6px;
}

.feedback_information {
	margin-top:26px;
}

.feedback_name_input {
	width: 358px;
	height:31px;
	border: 2px solid #5b5b5b;
}
.feedback_email_input {
	border: 2px solid #5b5b5b;
	
	height:31px;
	width: 358px;
	margin-top:7px;
}