div.Search.results {
	display:none;
	background-color:#121212;
	opacity:.9;
	border-left:#000000 1px solid;
	border-right:#000000 1px solid;
	z-index:10;
	margin-top:1px;
	position:absolute;
}

div.Search.result {
	font-family: "Lucida Grande",sans-serif;
	color: white;
	font-size:16px;
	padding-left:7px;
	padding-right:9px;
	padding-bottom:2px;
	padding-top:1px;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #5c5c5c;
}

div.Search.create {
	font-family: "Lucida Grande",sans-serif;
	color: white;
	font-size:20px;
	background: url('images/add.png') no-repeat 6px;
	padding-left:45px;
	padding-top:7px;
	padding-right:15px;
	height:33px;
	border-top: 1px solid #5c5c5c;
	border-bottom: 1px solid #000000;
}

.Search .hover {
	cursor:pointer !important;
	background-color: #4B4B4B !important;
}